ansicon==1.89.0
asgiref==3.5.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
blessed==1.19.1
bs4==0.0.1
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
colorama==0.4.4
commonmark==0.9.1
cryptography==36.0.1
cssutils==2.3.1
defusedxml==0.7.1
dj-rest-auth==2.2.3
Django==4.0.2
django-allauth==0.49.0
django-cors-headers==3.11.0
djangorestframework==3.13.1
djangorestframework-simplejwt==5.0.0
ffmpy==0.3.0
filelock==3.6.0
future==0.18.2
google==3.0.0
google-api-core==2.7.2
google-api-python-client==2.46.0
google-auth==2.6.6
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.0
httplib2==0.20.4
idna==3.3
inquirer==2.9.1
isodate==0.6.1
jinxed==1.1.0
keyboard==0.13.5
lxml==4.6.5
MouseInfo==0.1.3
mpegdash==0.3.1
multidict==6.0.2
mysqlclient==2.1.0
natsort==8.1.0
oauthlib==3.2.0
Pillow==9.0.1
pproxy==2.7.8
prettytable==3.1.1
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycaption==2.0.5
pycountry==22.3.5
pycparser==2.21
pycryptodome==3.14.1
pycryptodomex==3.14.1
pyfiglet==0.8.post1
PyGetWindow==0.0.9
Pygments==2.12.0
PyJWT==2.3.0
pymediainfo==5.1.0
PyMsgBox==1.0.9
pyparsing==3.0.8
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
pysrt==1.1.2
python-editor==1.0.4
python3-openid==3.2.0
pytweening==1.0.4
pytz==2021.3
readchar==3.0.5
regex==2022.3.2
requests==2.27.1
requests-file==1.5.1
requests-oauthlib==1.3.1
rich==12.3.0
rsa==4.8
six==1.15.0
soupsieve==2.3.1
sqlparse==0.4.2
termcolor==1.1.0
titlecase==2.0.0
tldextract==3.2.0
tqdm==4.63.0
tzdata==2021.5
Unidecode==1.3.3
untangle==1.1.1
uritemplate==4.1.1
urllib3==1.26.8
wcwidth==0.2.5
xmltodict==0.12.0
yarl==1.7.2
